@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";



@theme {
  --color-primary: #5f6fff;
  --font-outfit: "Outfit";
}

.active hr {
  @apply block;
}

.active button {
  background-color: var(--color-primary);
  color: white;
}

.active NavLink {
  background-color: aqua;
}

::-webkit-scrollbar {
  @apply hidden;
}

* {
  font-family: var(--font-outfit);
}
